<h1>Editing feed</h1>

<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :feed_url %><br />
    <%= f.text_field :feed_url %>
  </p>
  <p>
    <%= f.label :twitter_username %><br />
    <%= f.text_field :twitter_username %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @feed %> |
<%= link_to 'Back', feeds_path %>
