<h1>Listing feeds</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Twitter Username</th>
    <th>Feed url</th>
    <th>Name</th>
    <th>Url</th>
  </tr>

<% for feed in @feeds %>
  <tr>
    <td><%=h feed.author %></td>
    <td><%=h feed.twitter_username_with_at_sign %></td>
    <td><%=h feed.feed_url %></td>
    <td><%=h feed.name %></td>
    <td><%=h feed.url %></td>
    <td><%= link_to 'Show', feed %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feed', new_feed_path %>
