<% @posts.each do |row| %>

<div class="row">
  <% row.each do |post| %>
  <div class="col <%=post.styleClass%>">
    <div class="container-<%=post.styleClass%>">
      <div class="post-container">
        <h1><%= link_to post.title, post.url_with_source_and_medium('referral') %></h1>
        <h2><%= distance_of_time_in_words(Time.now, post.published) %> ago | <%= link_to "#{post.feed.author}: #{post.feed.name}", post.feed.url %></h2>

        <p class="content"><%= sanitize post.contents.html_safe, :tags => %w(img a) %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<% end %>
<div class="next-page"><!-- this is where the next lot will be injected --></div>
