<div id="site">

  <div class="right right_column">
    <%= render :partial=>'posts/whos_talking'%>
    <%= render :partial=>'posts/archive'%>

  </div>

  <div class="left left_column">

    <div class="blogs">
      <nav>
        <ul>
          <li><%= link_to "All", root_url, :class=>"nav_item_all" %> </li>
          <li><%= link_to "Agile", posts_by_category_url(:agile), :class=>"nav_item_agile" %></li>
          <li><%= link_to "Technology", posts_by_category_url(:technology), :class=>"nav_item_tech" %></li>
          <li><%= link_to "Trivia", posts_by_category_url(:trivia), :class=>"nav_item_trivia" %></li>
        </ul>
      </nav>

      <%= render 'posts/posts'%>
      <div class="row">
        <a class="nextPage" onclick="javascript:nextPage();">More</a>
      </div>
    </div>

  </div>

  <div class="clear"></div>
</div>

<script type="text/javascript">

var page = 1;
var endOfDoc = false;
 
$(window).scroll(function(){
  if(!endOfDoc){
    if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
      nextPage();
     };
  };
});

function nextPage() {
  endOfDoc = true;
  page++;
  var path = document.location.href;

  if (document.location.pathname === "/") path = document.location.href + "posts/all";
  
  $(".next-page").last().append().load(path + '/' + page,function(event){
    endOfDoc = false;
    //event.preventDefault();
    return false;
  });
}

</script>

