<div id="site">

  <div class="right right_column">
    <%= render :partial=>'posts/whos_talking'%>
    <%= render :partial=>'posts/archive'%>

  </div>

  <div class="left left_column">

    <div class="blogs">
      <nav>
        <ul>
          <li><%= link_to "All", root_url, :class=>"nav_item_all" %> </li>
          <li><%= link_to "Agile", posts_by_category_url(:agile), :class=>"nav_item_agile" %></li>
          <li><%= link_to "Technology", posts_by_category_url(:technology), :class=>"nav_item_tech" %></li>
          <li><%= link_to "Trivia", posts_by_category_url(:trivia), :class=>"nav_item_trivia" %></li>
        </ul>
      </nav>

      <% @posts.each do |row| %>

      <div class="row">
        <% row.each do |post| %>
        <div class="col <%=post.styleClass%>">
          <div class="container-<%=post.styleClass%>">
            <div class="post-container">
              <h1><%= link_to post.title, post.url_with_source_and_medium('referral') %></h1>
              <h2><%= distance_of_time_in_words(Time.now, post.published) %> ago | <%= link_to "#{post.feed.author}: #{post.feed.name}", post.feed.url %></h2>

              <p class="content"><%= sanitize post.contents.html_safe, :tags => %w(img a) %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <% end %>

    </div>

  </div>

  <div class="clear"></div>
</div>



