<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="java, .net, c#, ruby, rails, nodejs, javascript, angularjs, agile, scrum">
  <meta name="description" content="blog feed aggregator of various technology sites">

  <title>Way We Work</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="alternate" type="application/atom+xml" title="WayWeWork - Atom" href="<%= atom_feed_url %>" />
  <%= csrf_meta_tags %>

  <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
  <![endif]-->
</head>
<body>

  <!-- div id="band"></div -->
  <div id="wrapper">
    <%= render "shared/header" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </div>

</body>
</html>